/* FONTS */
@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham/GothamBook.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham/GothamBold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* VARIABLES */
:root {
    --font-large-heading: bold 96px 'Gotham', bold 96px sans-serif;
    --font-paragraph: normal 24px 'Gotham';
}

/* RESET & DEFAULTS */

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: var(--font-paragraph);
}

html {
    scroll-behaviour: smooth;
}
