/* FONTS */
@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham/Gotham-Book.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham/Gotham-Bold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* VARIABLES */
:root {
    --font-large-heading: bold 96px "Gotham", sans-serif;
    --font-paragraph: normal 24px "Gotham", sans-serif;
    --font-heading: bold 48px "Gotham", sans-serif;

    --color-neutral-black: hsl(240, 7%, 3%);
    --color-neutral-900: hsl(230, 25%, 5%);
    --color-neutral-500: hsl(229, 10%, 31%);
    --color-neutral-200: hsl(212, 28%, 86%);
    --color-neutral-100: hsl(180, 33%, 99%);
    --color-neutral-000: hsl(0, 0%, 100%);
    --color-green-500: hsl(141, 81%, 52%);
}

/* RESET & DEFAULTS */

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: var(--font-paragraph);
    transition: background-color 100ms ease-in;
}

html {
    scroll-behaviour: smooth;
}

body {
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-000);
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
}

/* RESPONSIVE: GENERAL */
@media screen and (max-width: 800px) {
    .contained,
    header.navigation-bar.contained,
    section.contained {
        width: 90%;
        max-width: 90%;
        margin: 0px auto;
    }

    .paragraph {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .contained,
    header.navigation-bar.contained,
    section.contained {
        margin: 0px 8px;
    }
}

/* GENERAL */

.contained {
    width: min(70%, 1000px);
    max-width: min(70%, 1000px);
    margin: 0px auto;
}

.black-text {
    color: var(--color-neutral-900);
}

.grey-text {
    color: var(--color-neutral-500);
}

.paragraph {
    font: var(--font-paragraph);
    font-size: 24px;
    line-height: 32px;
}

.figure-head {
    font: var(--font-large-heading);
    font-size: 112px;
    line-height: 120px;
}

/* NAVIGATION BAR */
header.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    background-color: var(--color-neutral-000);
}

header.navigation-bar h3.navigation-logo {
    cursor: pointer;
}

header.navigation-bar h3.navigation-logo a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-neutral-900);
}

header.navigation-bar ul.navigation-links {
    display: flex;
    list-style: none;
}

header.navigation-bar ul.navigation-links li {
    margin: 0px 8px;
}

header.navigation-bar ul.navigation-links li a {
    text-decoration: none;
    font-size: 18px;
}

header.navigation-bar ul.navigation-links li a:hover {
    text-decoration: underline;
    color: var(--color-neutral-900);
}

header.navigation-bar span.theme-switcher {
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    color: var(--color-neutral-500);
    user-select: none;
}

header.navigation-bar span.theme-switcher:hover {
    text-decoration: underline;
}

header.navigation-bar span.theme-switcher .theme-circle {
    display: inline-block;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    background-color: var(--color-neutral-200);
    border-radius: 4px;
}

/* RESPONSIVE: NAVIGATION BAR */
@media screen and (max-width: 800px) {
    header.navigation-bar {
        flex-direction: column;
        margin: 0px auto;
    }

    header.navigation-bar ul.navigation-links {
        margin: 16px 0px;
        text-align: center;
    }

    header.navigation-bar ul.navigation-links li a {
        font-size: 14px;
    }
}

/* DARK THEME STYLES: NAVIGATION BAR */
body.dark {
    background-color: var(--color-neutral-black);
    color: var(--color-neutral-200);
}

body.dark header.navigation-bar {
    background-color: var(--color-neutral-black);
}

body.dark header.navigation-bar ul.navigation-links li a {
    color: var(--color-neutral-200);
}

body.dark header.navigation-bar ul.navigation-links li a:hover {
    color: var(--color-neutral-100);
}

body.dark header.navigation-bar h3.navigation-logo a {
    color: var(--color-neutral-100);
}

body.dark header.navigation-bar span.theme-switcher {
    color: var(--color-neutral-200);
}

body.dark header.navigation-bar span.theme-switcher .theme-circle {
    background-color: var(--color-green-500);
}

/* INTRODUCTION STYLES */
section.introduction {
    margin: 32px auto;
}

section.introduction p.jp {
    color: var(--color-neutral-500);
    margin-bottom: 24px;
    font-size: 18px;
}

section.introduction h1.figure-head {
    margin-bottom: 24px;
}

section.introduction p.bio {
    color: var(--color-neutral-500);
}

/* DARK THEME STYLES: INTRODUCTION */
body.dark section.introduction h1.figure-head {
    color: var(--color-neutral-100);
}

body.dark p.paragraph {
    color: var(--color-neutral-200);
}

/* RESPONSIVE: INTRODUCTION */
@media screen and (max-width: 800px) {
    section.introduction h1.figure-head {
        font-size: 64px;
        line-height: 72px;
    }

    section.introduction p.paragraph {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 600px) {
    section.introduction h1.figure-head {
        font-size: 48px;
        line-height: 56px;
    }
}

@media screen and (max-width: 480px) {
    section.introduction h1.figure-head {
        font-size: 32px;
        line-height: 40px;
    }

    section.introduction p.paragraph {
        font-size: 16px !important;
    }
}
