/* FONTS */
@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham/Gotham-Book.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham/Gotham-Bold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* VARIABLES */
:root {
    --font-large-heading: bold 96px "Gotham", sans-serif;
    --font-paragraph: normal 24px "Gotham", sans-serif;
    --font-heading: bold 48px "Gotham", sans-serif;

    --color-neutral-black: hsl(240, 7%, 3%);
    --color-neutral-900: hsl(230, 25%, 5%);
    --color-neutral-500: hsl(229, 10%, 31%);
    --color-neutral-200: hsl(212, 28%, 86%);
    --color-neutral-000: hsl(0, 0%, 100%);
    --color-green-500: hsl(141, 81%, 52%);
}

/* RESET & DEFAULTS */

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: var(--font-paragraph);
}

html {
    scroll-behaviour: smooth;
}

body {
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-000);
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
}

.contained {
    width: min(70%, 1000px);
    max-width: min(70%, 1000px);
    margin: 0px auto;
}

.black-text {
    color: var(--color-neutral-900);
}

.grey-text {
    color: var(--color-neutral-500);
}

/* NAVIGATION BAR */
header.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    background-color: var(--color-neutral-000);
}

header.navigation-bar h3.navigation-logo {
    cursor: pointer;
}

header.navigation-bar h3.navigation-logo a {
    text-decoration: none;
    font-weight: bold;
}

header.navigation-bar ul.navigation-links {
    display: flex;
    list-style: none;
}

header.navigation-bar ul.navigation-links li {
    margin: 0px 8px;
}

header.navigation-bar ul.navigation-links li a {
    text-decoration: none;
    font-size: 18px;
}

header.navigation-bar ul.navigation-links li a:hover {
    text-decoration: underline;
    color: var(--color-neutral-900);
}

header.navigation-bar span.theme-switcher {
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    color: var(--color-neutral-500);
    user-select: none;
}

header.navigation-bar span.theme-switcher:hover {
    text-decoration: underline;
}

header.navigation-bar span.theme-switcher .theme-circle {
    display: inline-block;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    background-color: var(--color-neutral-200);
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .contained {
        width: 90%;
        max-width: none;
        margin: 0px auto;
    }

    header.navigation-bar {
        flex-direction: column;
        margin: 0px auto;
    }

    header.navigation-bar ul.navigation-links {
        margin: 16px 0px;
        text-align: center;
    }

    header.navigation-bar ul.navigation-links li a {
        font-size: 14px;
    }
}

/* DARK THEME STYLES */
body.dark {
    background-color: var(--color-neutral-black);
    color: var(--color-neutral-200);
}

body.dark header.navigation-bar {
    background-color: var(--color-neutral-black);
}

body.dark header.navigation-bar span.theme-switcher .theme-circle {
    background-color: var(--color-green-500);
}